@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    margin: 0;
   
     
}

.logo {
    width: 400px;
}

nav {
    background-color: #6cadee; 
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


nav a.active,
nav a:hover {
    background-color: #3498db; 
    color: white;
    border-radius: 20px;
    transition: 0.2s ease;
}

/* Responsive styles */
@media screen and (max-width: 1000px) {
    .navbar {
        display: flex;
        flex-direction: column;

    }

    .interior{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}

/* style for hero section */
.visionandmission {
    display: flex;
    flex-direction: column;
    
}

.sec1 , .sec2 , .sec3{
    display: flex;
    border: 3px solid blue;
    border-radius: 50px;
    padding: 30px;
    margin: 30px 60px 20px 60px;
    
}

.img1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 200px;
    padding-left: 20px;
    width: 40%;
}
.para1{
    width: 45%;
    position: absolute;
    left: 45%;
    top: 30%;
    font-size: 40px;
    font-weight: 300;
    font-style:oblique;
}
.para2{
    width: 800px;
    padding-right: 30px;
    font-size: 30px;
    font-weight: 300;
    font-style:oblique;
    margin-top: 30px;
    
}
.img2{
    margin-left: 100px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 180px;
    border-top-left-radius: 180px;
    width: 40%;
    height:350px;
}
.para3{
    width: 70%;
    margin-left: 80px;
    margin-top: 200px;
    font-size: 35px;
    font-weight: 300;
    font-style:oblique;
    margin-top: 10px;
    
}

.img3{
    border-top-left-radius: 300px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 500px;
    width: 40%;
    height: 400px;
}

footer{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 300px;
    font-weight: 500;
    background-color: #6cadee;
}

